/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.about-item {
    margin-bottom: 100px;
}


#header{
	position: absolute;
	top: 20px;
	width:100%;
	padding: 20px 0;
}
.logo{
	float: left;
}
.nav{
	float: right;
	padding-top:  5px;

}
.nav li{
	float:left;
	margin-right: 40px;

}

.nav li:last-child {margin-right:0;}

.nav a {
	text-transform: uppercase;
	font:14px Arial, sans-serif;
	color:#fff;
		text-decoration: none;
}

.nav a:hover{
	color:#f1c736;


}


#home{
	height:  700px;
	padding-top: 270px;
	text-align: center;
	color:#fff;
	 background: url(img/home-bg.jpg) no-repeat #222 center bottom;
	 -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

#home h3{
	margin-bottom: 40px;
	font:40px/40px Arial, sans-serif;

}

#home h1{
	margin-bottom: 50px;
	text-transform: uppercase;;
	font:75px/75px Arial, sans-serif;

}

.btn{
	display: inline-block;
	padding: 20px 30px;
	background: #fed136;
	font: bold 24px/24px Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.btn:hover{
	background: #daae17;
	color: #fff;
}

.box{
	padding:  120px 0 ;



}

#services{
	text-align: center;
	height: 570px;


}

h2.title{
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.descr{
	font-size: 16px;
	color: #222;
	margin-bottom: 10px;

}

h5.title{
	font: bold 18px/18px Arial, sans-serif;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.services-wrap,
.portfolio-wrap,
.about-wrap,
#message{
	padding-top: 70px;

}
.services-item{
	float: left;
	width: 33%;
	padding: 90px 0px 120px;
}
.services-item{
	font-size: 18px;
	color: #777;
	line-height: 24px;
}

.commerce{
	background: url(img/commerce.png) no-repeat center top;
}
.responsive{
	background: url(img/resposive.png) no-repeat center top;
}
.sequrity{
	background: url(img/security.png) no-repeat center top;
}

#portfolio{
text-align: center;
background-color: #f7f7f7;
height: 1016px;

}

.portfolio-item{
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 50px;
	background: white;
}

.portfolio-item:nth-child(3n)
{
	margin-right: 0;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3){
	margin-bottom: 0px;
}




.potfolio-item-footer{
	padding: 25px 20px;
}
.potfolio-item-footer h5.title{
	margin-bottom: 4px;
}

#about{
	text-align: center;
	height: 1666px;
}
.about-text{
	width: 35%;

}

.about-img{
	width: 30%;


}

.left{float: left;}
.right{float:right;}
.text-right{text-align:right;}
.text-left{text-align: left;}

.about-text h5{
	line-height: 24px;
}
.about-text p {
	font-size: 16px;
	color: #777;
	line-height: 24px;
}

.about-img{
	width: 30%;
}
.about-img::after{
	content: "";
	display: block;
	height: 94px;
	width:3px;
	margin: 0 auto;
	background: #f1f1f1;
}

.about-img img, .about-link {
	display: inline-block;
	height: 177px;
	width: 177px;
	border: 7px solid #f1f1f1;
	-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

}

.about-link{
	color:#fff;
	padding-top: 10px;
	background: #fed136;
	font:bold 18px/34px Arial, sans-serif;
	text-shadow: 0 1px rgba();
}

#team{
	padding: 120px 0;
	background-color: #f9f9f9;
}
.team-item{
	float: left;
	width: 33.33%;
	padding: 70px 0;
}

.team-item img{
	margin-bottom: 15px;
	border: 7px solid #fff;
	-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
			-o-border-radius: 50%;
				border-radius: 50%;
}

.team-info{
	margin-top: 45px;
}

.cat{
	font: 14px/14px Arial, sans-serif;
	color: #777;
}

.social{
margin-top: 10px;

}
.social a{
	display:inline-block;
	width: 40px;
	height: 40px;
	border: 3px solid #222;
	text-decoration: none;
	background: url(img/social-sprite.png) no-repeat;
	-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
			-o-border-radius: 50%;
				border-radius: 50%;
	margin-right: 3px;

}

.social a.black{	background-color: #222;}

.social a.icn-tw{
	background-position: 0 0;
}
.social a.icn-tw:hover{
	background-position: 0 -40px;
	border-color:#00aced;
	background-color: #00aced;

}
.social a.icn-tw.black{	background-color: #222; background-position: 0 -40px;}
.social a.icn-fc{
	background-position: -40px 0;
}
.social a.icn-fc:hover{
	background-position:-40px -40px;
	border-color:#3b5998;
	background-color: #3b5998;
}
.social a.icn-fc.black{	background-color: #222; background-position:-40px -40px;}
.social a.icn-pn{
	background-position: -80px 0;
}
.social a.icn-pn:hover{
	background-position: -80px -40px;
	border-color:#cb2028;
	background-color: #cb2028;
}
.social a.icn-pn.black{	background-color: #222; background-position: -80px -40px;}
.social a.icn-gl{
	background-position: -120px 0;
}
.social a.icn-gl:hover{
	background-position: -120px -40px;
	border-color:#d95232;
	background-color: #d95232;
}
.social a.icn-gl.black{	background-color: #222; background-position: -120px -40px;}
#brand{
	padding: 60px 0;
	text-align: center;

}

#brand a{
	display:inline-block;
	margin-right: 40px;
}

#brand a:last-child{margin-right: 0;}

#brand img{ vertical-align: middle;}

#contact{
	text-align: center;
	background: #010000 url(img/maps.png) no-repeat right bottom;
}

#contact h2.title{color:#fff;}
.contact{color:#fff;}
/*#message .left,
#message .right{
		width:48%;
}*/
#message .left{
	width:46%;
}
#message .right{
width:46%;

}

#message input[type="text"],
#message textarea{
	width:100%;
	padding: 15px 20px;
	margin-bottom:30px;
	box-shadow:none;
	background: #fff;
	font: bold 14px/14px Arial, sans-serif;
	color:#222;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			-o-border-radius: 4px;
				border-radius: 4px;
			vertical-align: middle;}

#message input[type="text"]{
	height: 20px;
	border: 1px solid #ccc;
	margin-right: 30px;
}

#message textarea{
	border:none;
	height: 187px;
	resize: none;
}

::-webkit-input-placeholder {
	text-transform: uppercase;
	font: bold 14px/14px Arial, sans-serif;
	color:#bbb;}


::-moz-placeholder {
			text-transform: uppercase;
			font: bold 14px/14px Arial, sans-serif;
			color:#bbb;}

#copyright{
	padding: 25px 0;
}
#copyright p {
	font:14px/14px Arial, sans-serif;
	color: #555;
	margin-top: 18px;
}
#copyright .social{
	margin-top: 0;
	margin-left: 365px;

}
